/* cuerpo con fuentes solicitadas*/
body {
    font-family: "Raleway", "Open Sans";
    color:white;
    background-color: black;
   
   }
   .navbar {
    background-color: transparent !important;
    color:white;
  }
  
  
  /* smooth a sroll*/
   .bg-interno{
    background-color: #16a2b7;
    transition: all 2s ease;
   }
  
   .h1{
    font-family: "Raleway";
    font-size: 400;
   }
   .container_header{
    margin-left: 0;
    margin-right: 0;
  } 
  
  .carousel-item {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .container_h1{
    margin-left: 0;
    margin-right: 0;
  } 
  .hr_linea{
    background-color: #16a2b7;
    height:0.2em;
  
  }
  .card0
  {
    background-color: black;
  }
  .card-body01
  {  background-color: #16a2b7;  
    padding:0;
    }
  .fa-iconos{
    font-size: 2em;
    color: #fff;
  }
  .card-body02
  {  background-color: black;
    color:white;
    padding:0;
    margin:0;
    text-align:left;
  
  }
  .card-body00
  {  background-color:white;;  
    margin-top: 1.5em;
    }
  .card-body03
  { background-color: #16a2b7;  
    color:white;
    text-align:left;
    height:17em;
    padding: 0.5em;
    
  }
  .card-imagen{
    height:140px;
  }
  /* contacto*/
  input{
    background-color: #fbfbfb; 
    width: 1200px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: white; 
    margin-top: 5px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 1200px; 
    height: 200px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: white; 
    margin-top: 5px;  
    padding-left: 10px;
    margin-bottom: 10px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #16a2b7; 
    border-color: white; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color: white; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: white;  
  }
  
  
  h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: white;
  }
  
  
  h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: white;   
  }
  
  
  p{
    font-size: 14px; 
    color: white; 
  }

  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }

  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  #enviar{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: white;
  }
 
  /* footer*/
  .page-footer
  {
    background-color: #16a2b7;
  }
  footer {
    color:white;
    font-weight: bold;
    background-color: #16a2b7;
    font-family: "Raleway";
    font-size: 400;
    position: absolute;
    width: 100%;
    padding:2px
   }
   /* Botones de redes sociales*/
  .btn{
    width:50px;
    color:#16a2b7;
    margin:10px;
    padding:10px;
    background-color: white;
  }